* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
  clear: both;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.25;
  margin-bottom: 15px;
  transition: font-size 0.25s ease;
  color: hsl(0, 0%, 0%);
}

h1 {
  font-size: calc(72px / 1.5);
  line-height: 0.85;
}

h2 {
  font-size: calc(48px / 1.5);
  margin-top: 10px;
  line-height: 0.85;
}

h3 {
  font-size: calc(36px / 1.5);
  margin-top: 10px;
  line-height: 0.85;
}

h4 {
  font-size: calc(28px / 1.5);
  margin-top: 10px;
  line-height: 0.85;
}

h5 {
  font-size: calc(24px / 1.5);
  margin-top: 10px;
  line-height: 0.85;
}

h6 {
  font-size: calc(20px / 1.5);
  margin-top: 10px;
  line-height: 0.85;
}

@media(min-width: 720px) {
  h1 {
    font-size: calc(72px / 1.25);
  }

  h2 {
    font-size: calc(48px / 1.25);
  }

  h3 {
    font-size: calc(36px / 1.25);
  }

  h4 {
    font-size: calc(28px / 1.25);
  }

  h5 {
    font-size: calc(24px / 1.25);
  }

  h6 {
    font-size: calc(20px / 1.25);
  }
}

@media(min-width: 1024px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 20px;
  }
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 15px 0;
  color: hsl(0, 0%, 0%);
}

a {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 20%);
}

b, strong {
  font-weight: 700;
}

li {
  list-style: none;
}

/* Site Navigation */

.site-header {
  padding: 30px 15px 0;
}

.site-header-nav {
  align-items: center;
  display: flex;
}

.site-nav-left, .site-nav-right {
  align-items: center;
  display: flex;
}

.site-nav-right {
  float: right;
  margin-left: auto;
  padding: 0 20px;
}

.site-nav-right li a:hover {
  color: hsl(0, 0%, 50%);
}

.site-nav-left li:not(:first-child), .site-nav-right li {
  font-weight: 700;
  display: none;
  line-height: 0;
}

.site-nav-mobile li {
  display: inline-block;
}

@media(min-width: 768px) {
  .site-nav-left li:not(:first-child), .site-nav-right li {
      display: inline-block;
  }

  .site-nav-mobile, .site-nav-mobile li {
      display: none;
  }
}

.site-nav-left li:not(:last-child), .site-nav-right li:not(:last-child), .site-nav-mobile li:not(:last-child) {
  margin-right: 30px;
}

.site-nav-left .logo {
  width: 60px;
}

.site-nav-link {
  text-decoration: none;
}

.button-secondary {
  padding: 9px 25px;
  background-color: hsl(120, 14%, 48%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
  text-decoration: none;
}

button:hover {
  background-color: hsl(120, 14%, 48%, 0.8);
}

/* Site Header */

.photo-hero {
  background-color: hsl(228, 26%, 96%);
  min-height: 500px;
}

.photo-hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 25px;
}

.photo-hero-text>p>a {
  font-size: 16px;
}

.photo-hero h1 {
  margin: 1em 0 40px;;
}

.photo-hero p {
  line-height: 1.2;
  margin-bottom: 30px;
}

.photo-hero a {
  font-size: 14px;
}

.button-primary {
  padding: 20px 32px;
  background-color: hsl(120, 14%, 48%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* Main Content */

.directions>.container>h1 {
  text-align: center;
  padding: 20px 0;
}

.teaserBoxes {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.teaserBoxes>div {
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 4px;
  box-shadow: 10px 10px 4px hsl(0, 0%, 67%);
  margin: 25px;
  width: 345px;
  padding: 25px;
  height: 345px;
}

.teaserBoxes>div>i {
  color: hsl(120, 14%, 48%);
}

.container .directions-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.benefits {
  background-color: hsl(120, 14%, 48%);
  margin-top: 30px;
}

.benefits>.container>h1 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 20px;
  line-height: 1.2;
}

.informationSpotlight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.informationSpotlight>div {
  padding: 20px;
  width: 600px;
  height: 250px;
  margin-bottom: 20px;
}

.informationSpotlight>div>h3, .informationSpotlight>div>p {
  color: hsl(0, 0%, 100%);
  line-height: 1.2;
}

.informationSpotlight>div>i {
  color: hsl(0, 0%, 100%);
}


/* Site Footer */

@media(min-width: 768px) {
  .col-1-4 {
    float: left;
    width: calc(92.5%/4);
  }

  .col-1-4:not(:last-child) {
    margin-right: 2.5%;
  }
}

.footer {
  padding: 60px;
  background-color: hsl(228, 26%, 96%);
}

.footer-section {
  margin-bottom: 15px;
}

@media(min-width: 768px) {
  .footer-section {
    margin-bottom: 0;
  }
}

.footer a  {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.8;
}

.footer li {
  list-style: none;
}

.footer li a:hover {
  color: hsl(0, 0%, 50%);
}

.footer ul {
  padding: 0;
}

.footer p  {
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-email-input {
  margin-right: 2.5%;
  width: 58% !important;
}

.footer-email-button {
  font-size: 12px !important;
  padding: 10px !important;
  width: 27.5% !important;
}

.footer-email-button:hover {
  background-color: hsl(120, 14%, 48%, 0.8);
}

@media(min-width: 768px) {
  .footer-email-input {
        width: 60% !important;
  }
    
  .footer-email-button {
        width: 37.5% !important;
      }
  }

  input {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(220, 13%, 95%);
    border-radius: 4px;
    box-shadow: inset 1px 1px 3px 0 hsla(200, 2%, 75%, 0.1);
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    transition: border-color 0.5s ease;
    width: 100%;
}
  
input[type="submit"] {
    cursor: pointer;
    height: auto;
    width: auto;
}
  
input:active, input:focus {
    border: 1px solid hsl(207, 90%, 61%);
    outline: none;
}

/* Mobile */

@media(max-width: 768px) {
    .teaserBoxes {
    flex-direction: column;
  }

  /*.nav-links, .cta {
    display: none;
  }*/
}

/*@media(min-width: 769px) {
  .nav-mobile, .nav-mobile li {
    display: none;
  }
}*/

@media(min-width: 1024px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsl(228, 26%, 96%);
  }

  .photo-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 125px 25px;
  }
}

@media(max-width: 1024px) {
  .informationSpotlight>div {
    width: 300px;
  }
}
